{{ include ("Common/Header.html") }}


<div class="content">


    <div class="block block-rounded">
        <div class="block-header block-header-default">
            <button type="button" class="btn btn-outline-success btn-sm add-role">{{ icon("icon-tianjia")|raw }} {{ i18n("添加角色")|raw }}</button>
            <button type="button" class="btn btn-outline-danger btn-sm del-role">{{ icon("icon-shanchu")|raw }} {{ i18n("删除角色")|raw }}</button>
        </div>
        <div class="block-content pt-0">
            <table id="role-table"></table>
        </div>
    </div>


</div>


{{ ready("/assets/admin/controller/manage/role.js")|raw }}
{{ include ("Common/Footer.html") }}