{{ include ("Common/Header.html") }}


<div class="content">
    <div class="block block-rounded">
        <div class="block-header block-header-default">
            <button type="button" class="btn btn-outline-danger btn-sm del-file">{{ icon("icon-shanchu")|raw }} {{ i18n("删除文件")|raw }}
            </button>
        </div>
        <div class="block-content pt-0">
            <table id="upload-table"></table>
        </div>
    </div>
</div>


{{ready("/assets/admin/controller/upload/upload.js")|raw}}
{{ include ("Common/Footer.html") }}