<nav id="sidebar">
    <!-- Sidebar Content -->
    <div class="sidebar-content">
        <!-- Side Header -->
        <div class="content-header">
            <!-- Logo -->
            <div>
              <span class="smini-visible fw-bold tracking-wide fs-lg">
                c<span class="text-primary">b</span>
              </span>
                <a class="fw-bold tracking-wide" href="/admin/dashboard">
                <span class="smini-hidden">
                     <span class="shop-name"><img src="{{ site.logo }}" class="shop-logo"> <span class="shop-title">{{ site.title }}</span></span>
                </span>
                </a>
            </div>
            <!-- END Logo -->

            <!-- Options -->
            <div>
                <!-- Close Sidebar, Visible only on mobile screens -->
                <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                <button type="button" class="btn btn-sm btn-alt-danger d-lg-none" data-toggle="layout"
                        data-action="sidebar_close">
                    <i class="fa fa-fw fa-times"></i>
                </button>
                <!-- END Close Sidebar -->
            </div>
            <!-- END Options -->
        </div>
        <!-- END Side Header -->

        <!-- Sidebar Scrolling -->
        <div class="js-sidebar-scroll">
            <!-- Side User -->
            <div class="content-side content-side-user px-0 py-0">
                <!-- Visible only in mini mode -->
                <div class="smini-visible-block animated fadeIn px-3">
                    <img class="img-avatar img-avatar32" src="/assets/default.jpg1" alt="">
                </div>
                <!-- END Visible only in mini mode -->

                <!-- Visible only in normal mode -->
                <div class="smini-hidden text-center mx-auto">
                    <img class="img-avatar" src="{{ manage.avatar }}" alt="">
                    <ul class="list-inline mt-3 mb-0">
                        <li class="list-inline-item">
                            <span class="fs-sm fw-semibold text-dual">{{ manage.nickname }}</span>
                        </li>
                        <li class="list-inline-item">
                            <a class="link-fx text-dual" href="javascript:location.href='/admin/personal/logout';">
                                <i class="fa fa-sign-out-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END Visible only in normal mode -->
            </div>
            <!-- END Side User -->

            <!-- Side Navigation -->
            <div class="content-side content-side-full">
                <ul class="nav-main">
                {{ menus()|raw }}

                <div class="separator mx-1 my-4"></div>

                <li class="nav-main-item ">
                    <span class="nav-main-link">
                    <i class="nav-main-link-icon">{{ icon("icon-version" , "icon-14px")|raw }}</i>
                    <span class="nav-main-link-name" style="color: #63bfea;font-size: 14px;">{{ app.version }}</span>
                        <span class="nav-main-link-badge badge rounded-pill latest-check bg-primary">Check..</span>
                    </span>
                </li>

                </ul>
            </div>
            <!-- END Side Navigation -->
        </div>
        <!-- END Sidebar Scrolling -->
    </div>
    <!-- Sidebar Content -->
</nav>