{{ include ("Common/Header.html") }}


<div class="content">
    <div class="block block-rounded">
        <div class="block-header block-header-default">
            <button type="button" class="btn btn-outline-success btn-sm add-shop-markup">{{ icon("icon-tianjia")|raw }} {{ i18n("添加模板")|raw }}
            </button>
            <button type="button" class="btn btn-outline-danger btn-sm del-shop-markup">{{ icon("icon-shanchu")|raw }} {{ i18n("移除模板")|raw }}
            </button>
        </div>
        <div class="block-content pt-0">
            <table id="shop-markup-table"></table>
        </div>
    </div>
</div>


{{ready("/assets/admin/controller/shop/item.markup.template.js")|raw}}
{{ include ("Common/Footer.html") }}