{{ include ("Common/Header.html") }}

<!-- Hero -->
<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2">
            <div class="flex-grow-1">
                <h1 class="h3 fw-bold mb-2">
                    {{ i18n(title)|raw }}
                </h1>
                <h2 class="fs-base lh-base fw-medium text-muted mb-0">
                    Balance Recharge
                </h2>
            </div>
            <nav class="flex-shrink-0 mt-3 mt-sm-0 ms-sm-3" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-alt">
                    <li class="breadcrumb-item">
                        <a class="link-fx" href="javascript:void(0)">{{ i18n("我的钱包")|raw }}</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                        {{ title }}
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>


<!-- END Hero -->
<div class="content">
            <div class="recharge-view">
                <div class="layout-box">
                    <div class="title">{{ i18n("账户余额")|raw }}</div>
                    <div class="recharge-content balance">{{ ccy() ~ user.balance }}</div>
                </div>
                <div class="layout-box">
                    <div class="title">{{ i18n("充值金额")|raw }}</div>
                    <div class="recharge-content amount"><input type="text" class="recharge-amount" value="100"></div>
                </div>

                <div class="layout-box">
                    <div class="title">{{ i18n("支付方式")|raw }}</div>
                    <div class="recharge-content pay-list">
                        {% for item in pay %}
                        <div data-payId="{{ item.id }}" class="pay-item {{ loop.first ? "pay-current" : "" }}"><img src="{{ item.icon }}"><span>{{ i18n(item.name)|raw }}</span></div>
                        {% endfor %}
                    </div>
                </div>

                <div class="layout-box">
                    <button class="btn-recharge">{{ i18n("立即充值")|raw }}</button>
                </div>
            </div>
</div>


{{ ready("/assets/user/controller/user/recharge.js")|raw }}
{{ include ("Common/Footer.html") }}