{{ include( "Common/Header.html") }}

{{ var({ subdomain : subdomain})|raw }}

<!-- Hero -->
<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2">
            <div class="flex-grow-1">
                <h1 class="h3 fw-bold mb-2">
                    {{ icon("icon-wangzhanshezhi","icon-18px")|raw }}
                    {{ i18n(title)|raw }}
                </h1>
                <h2 class="fs-base lh-base fw-medium text-muted mb-0">
                    Website settings
                </h2>
            </div>
            <nav class="flex-shrink-0 mt-3 mt-sm-0 ms-sm-3" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-alt">
                    <li class="breadcrumb-item">
                        <a class="link-fx" href="javascript:void(0)">{{ i18n("店铺设置")|raw }}</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                        {{ i18n(title)|raw }}
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- END Hero -->

<!-- Page Content -->
<div class="content">
    <div class="block block-rounded">
        <div class="block-content">
            <div class="row push">

                    <div class="col-6 col-md-3 col-lg-3 col-xl-2 col-xxl-2 col-xxxl-1">
                        <a  class="block block-rounded text-center config-block site-setting" href="javascript:void(0)">
                            <div style="background: url('/assets/admin/image/config/site.jpg') center/cover !important; " class="config-background"></div>
                            <div class="block-content block-content-full bg-config ratio ratio-4x3">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div>
                                        {{ icon("icon-wangzhanshezhi" , "icon-44px")|raw }}
                                        <div class="fw-semibold mt-3 text-uppercase text-white config-title">{{ i18n("网站设置")|raw }}</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-md-3 col-lg-3 col-xl-2 col-xxl-2 col-xxxl-1">
                        <a  class="block block-rounded text-center config-block email-setting" href="javascript:void(0)">
                            <div style="background: url('/assets/admin/image/config/email.jpg') center/cover !important; " class="config-background"></div>
                            <div class="block-content block-content-full bg-config ratio ratio-4x3">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div>
                                        {{ icon("icon-a-kl_e10" , "icon-44px")|raw }}
                                        <div class="fw-semibold mt-3 text-uppercase text-white config-title">{{ i18n("邮件配置")|raw }}</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-md-3 col-lg-3 col-xl-2 col-xxl-2 col-xxxl-1">
                        <a  class="block block-rounded text-center config-block sms-setting" href="javascript:void(0)">
                            <div style="background: url('/assets/admin/image/config/sms.jpg') center/cover !important; " class="config-background"></div>
                            <div class="block-content block-content-full bg-config ratio ratio-4x3">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div>
                                        {{ icon("icon-duanxinpeizhi" , "icon-44px")|raw }}
                                        <div class="fw-semibold mt-3 text-uppercase text-white config-title">{{ i18n("短信配置")|raw }}</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-md-3 col-lg-3 col-xl-2 col-xxl-2 col-xxxl-1">
                        <a  class="block block-rounded text-center config-block domain-setting" href="javascript:void(0)">
                            <div style="background: url('/assets/admin/image/config/subdomain.jpg') center/cover !important; " class="config-background"></div>
                            <div class="block-content block-content-full bg-config ratio ratio-4x3">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div>
                                        {{ icon("icon-DNS" , "icon-44px")|raw }}
                                        <div class="fw-semibold mt-3 text-uppercase text-white config-title">{{ i18n("域名配置")|raw }}</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

            </div>
        </div>
    </div>
</div>
<!-- END Page Content -->

{{ ready("/assets/user/controller/config/config.js")|raw }}
{{ include ("Common/Footer.html") }}