{{ include ("Common/Header.html") }}

<div class="content">
    <div class="block block-rounded">
        <div class="block-header block-header-default">
            <button type="button" class="btn btn-outline-primary btn-sm open-store-powers">{{icon("icon-dingdan4")|raw}} {{ i18n("我的订阅")|raw }}</button>
            <a href="/admin/plugin" type="button" class="btn btn-outline-primary btn-sm me-2">{{icon("icon-chajianhua")|raw}} {{ i18n("管理插件")|raw }}</a>
            <button type="button" class="btn btn-outline-success btn-sm open-store-group hide">{{icon("icon-xinjianyonghuzu")|raw}} {{ i18n("升级个人版/专业版")|raw }}</button>
            <button type="button" class="btn btn-outline-primary btn-sm gift-store-group hide">{{icon("icon-zengsong")|raw}} {{ i18n("赠送朋友个人版/专业版")|raw }}</button>
        </div>
        <div class="block-content pt-0">
            <table id="store-table"></table>
        </div>
    </div>
</div>


{{ ready("/assets/admin/controller/store/store.js")|raw }}
{{ include ("Common/Footer.html") }}